.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*Proyecto Juego CSS*/
body{
  background-color: orange;
}

.App{
  text-align: center;
}

h1{
  color: blue;
  font-family: fantasy;
  letter-spacing: 5px;
}

p{
  color: blue;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 5px;
}

img{
  width: 200px;
}

input{
  border-radius: 5px;
  border: 2px solid blue;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  background-color: transparent;
  padding: 5px;
  width: 30%;
  color: white;
}

input::placeholder{
  color: white;
}

button{
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  color: white;
  background-color: red;
  width: 30%;
  height: 2rem;
  margin-top: 1rem;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}


